.detail {
    @apply inline-grid bg-white sticky place-content-center p-10;
    top: 100px;
    left: 0;
    grid-template-columns: auto 300px;
    grid-template-areas: "title stats" "img stats";
    height: 70vh;
    gap: 1rem 4rem;

    &__img {
        grid-area: img;
        width: 250px;
        height: 250px;
        object-fit: contain;
    }

    &__stats {
        grid-area: stats;
    }
}