:root {
    --primary-green: #005555;
    --secondary-green: #069A8E;
    --tertiary-green: #A1E3D8;
    --accent-green: #F7FF93;
}

body {
    @apply bg-green-tertiary;
}

@tailwind base;
@tailwind components;
@tailwind utilities;